.centered-block {
    width: 720px;
    margin: 0 auto;
}
.block-title {
    font-size: 30px;
    color: #fefeff;
    text-align: center;
}
.block-subtitle{
    margin: 0.5em 0;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

.frontpage-upper-panel {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    padding: 4px 0;
    z-index: 100;
}
.service-info {
    float: left;
    width: 220px;
    font-size: 20px;
    line-height: 42px;
    text-transform: uppercase;
}
.service-info .logo {
    height: 42px;
    margin: 0 5px 0 0;
    float: left;
}
.right-column {
    float: right;
}
.upper-menu-item.simple {
    color: #333538;
    cursor: default;
    text-decoration: none;
}
.upper-menu-item.active {
    color: #333538;
    cursor: default;
    text-decoration: none;
}
.upper-menu-item {
    float: left;
    margin: 0 5px;
    line-height: 42px;
    color: #4383c6;
    cursor: pointer;
    text-decoration: underline;
}
.upper-menu-item:hover {
    text-decoration: none;
}
.login-btn {
    position: relative;
    top: 1px;
    vertical-align: baseline;
    margin: 0 4px 0 0;
}
.frontpage-extension {
    padding: 100px 0 40px;
    background: #699cd1;
}
.frontpage-extension .block-title {
    line-height: 60px;
    float: left;
    text-align: left;
}
.extension-link-block {
    float: right;
    width: 220px;
    height: 60px;
}
.extension-link-block a {
    display: block;
    height: 100%;
    width: 100%;
    background: #c75c5c;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #fefeff;
    text-decoration: none;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}
.extension-link-block a:hover {
    text-decoration: none;
    background: #d56767;
}
.extension-link-block a:active {
    background: #b45959;
}
.extension-link-block a.disable {
    background: #88BDF5;
}
.extension-screen {
    width: 720px;
    height: 580px;
    margin: 30px 0 0;
    background: url("../img/extension-screen-example.png") no-repeat 0 0;
    background-size: cover;
}
.frontpage-instruction {
    padding: 45px 0;
    background: #62cbcd;
}
.frontpage-instruction-in {
    position: relative;
}
.instructions-slider {
    margin: 40px 0 0;
}
.step-screenshot {
    margin: 0 auto;
    width: 720px;
    height: 435px;
}
.step-screenshot img {
    max-width: 100%;
}
.step-description {
    margin: 20px 0;
}
.step-description-text {
    margin: 0 0 0 15px;
    line-height: 1.2;
    text-align: center;
}
.step-description-text .stand-out{
    font-size: 17px;
    font-weight: 900;
}
.slidesjs-navigation {
    display: none !important;
}
.slidesjs-pagination {
    width: 307px;
    margin: 30px auto 0;
    list-style: none;
}
.slidesjs-pagination-item a{
    display: block;
    position: relative;
    float: left;
    padding: 18px 18px 0 0;
    margin: 0 10px;
    font-size: 1px;
    text-indent: -10000px;
}
.slidesjs-pagination-item a.active:after {
    background: #efe060;
}
.slidesjs-pagination-item a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    padding: 18px 18px 0 0;
    border-radius: 9px;
    background: #ffffff;
}
.separatop {
    position: absolute;
    width: 310px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 35px;
    border-top: 2px solid #5e7374;
}
.frontpage-contacts {
    padding: 40px 0 70px;
    background: #efd37e;
}
.social-share {
    width: 300px;
    margin: 40px 70px 0 0;
    float: left;
}
.connect-info {
    overflow: hidden;
    margin: 70px 0 0 50px;
}
.one-contact {
}
.contact-icon-wrapper {
    float: left;
    width: 80px;
    line-height: 91px;
    text-align: center;
}
.one-contact.right-oriented .contact-icon-wrapper {
    float: right;
}
.contact-icon {
    line-height: 1.2;
    display: inline;
    height: 40px;
}
.one-contact-text-wrapper {
    float: left;
    line-height: 91px;
}
.one-contact.right-oriented .one-contact-text-wrapper {
    float: right;
}
.one-contact-text {
    display: inline-block;
    line-height: 1.2;
    text-align: left;
}
.one-contact-text a, .one-contact-text a:hover {
    color: #4383c6;
}
.right-oriented {
    text-align: right;
}
.frontpage-footer {
    padding: 40px 0;
    background: #d27d7d;
}
.footer-column {
    width: 50%;
    float: left;
}
